@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  box-sizing: border-box;
}

body{
  background: #020202;
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
}

img{
  user-select: none;
}

.low-storage-warning{
  position: absolute;
  top: 6px;
  right: 80px;
  width: 250px;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
  background: rgba(255, 145, 0, 0.247);
  border-radius: 5px;
  border: rgba(255, 145, 0, 1) 1px solid;
  color: white;
  opacity: 0;
  display: none;
}

.image-view{
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
}

.image-view img {
  z-index: 10001;
}

.group-title{
  color: white;
  font-size: 30px;
  width: 100%;
  padding: 10px;
}

.smol-date{
  color: #777;
  font-size: 20px;
}

.image-view-blackout{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 10000;
}

.image-view-controls{
  position: fixed;
  bottom: 10px;
  left: 50%;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100001;
  transform: translate(-50%, 0);
}

.image-controls-button{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  border-radius: 50%;
  align-items: center;
  margin: 0 20px;
  box-shadow:
    #000 0 0 10px,
    #000 0 0 20px inset;
}

.image-controls-button:hover{
  background: #fff5;
  box-shadow:
    #000 0 0 10px,
    #0005 0 0 20px inset;
}

.next-image-button{
  position: fixed;
  top: 50%;
  right: 0;
  color: white;
  font-size: 20px;
  transition: 0.1s;
  border-radius: 20px 0 0 20px;
  width: 50px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  z-index: 100001;
  transform: translate(0, -50%);
}

.next-image-button:hover{
  background: #fff5;
  backdrop-filter: blur(10px);
}

.prev-image-button{
  position: fixed;
  top: 50%;
  left: 0;
  color: white;
  font-size: 20px;
  transition: 0.1s;
  border-radius: 0 20px 20px 0;
  width: 50px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  z-index: 100001;
  transform: translate(0, -50%);
}

.prev-image-button:hover{
  background: #fff5;
  backdrop-filter: blur(10px);
}

.image-close{
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 20px;
  transition: 0.5s;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  z-index: 100001;
}

.image-close:hover{
  background: #fff5;
}

.image-container{
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

.image-wrapper{
  width: 200px;
  height: 200px;
  margin: 10px;
  display: inline-block;
  opacity: 0;
  cursor: pointer;
}

.image-wrapper img {
  border-radius: 10px;
}

.loading{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
  user-select: none;
  text-align: center;
  z-index: 1000000000000000000000;
}

.loading::before{
  content: "...";
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  background: white;
  border-radius: 10px;
  transform: translate(0, -10px);
  color: white;
  box-shadow:
    #fff 30px 0 0,
    #fff -30px 0 0;
  animation: loading 2s linear infinite;
}

.context-menu{
  position: fixed;
  top: 0;
  left: 0;
  background: #4445;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  display: none;
  opacity: 0;
  z-index: 10000000000;
  overflow: hidden;
  height: 0;
  box-shadow: #0005 0 0 10px;
}

.context-menu-item{
  color: white;
  cursor: pointer;
  user-select: none;
  margin: 10px;
  opacity: 0;
}

.notification-error{
  background: #4445;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50px);
  padding: 10px 20px;
  color: white;
  z-index: 1000001;
  opacity: 0;
  box-shadow: #0005 0 0 10px;
  text-align: center;
}

.notification-copy{
  background: #4445;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50px);
  padding: 10px 20px;
  color: white;
  z-index: 1000001;
  opacity: 0;
  box-shadow: #0005 0 0 10px;
}

.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 10000;
  box-shadow: #000 0 0 10px;
  background: #444;
  opacity: 0;
}

.nav-container{
  display: flex;
  height: 100%;
  width: 150px;
}

.nav-tab{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff5;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

.nav-tab:hover{
  color: #fff;
}

.nav-tab-selected{
  color: #fff;
}

.nav-user{
  position: fixed;
  top: 0;
  right: 0;
  width: 75px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.nav-user:hover{
  background: #0005;
}

.user-pfp{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: red;
  display: none;
}

.user-dropdown-button{
  width: 25px;
  /* text-align: right; */
  text-align: center;
  font-size: 20px;
  color: white;
}

.user-dropdown{
  position: fixed;
  top: -300px;
  right: 10px;
  box-shadow: #0005 0 0 10px;
  background: #4445;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 1000;
}

.dropdown-menu-item{
  color: white;
  cursor: pointer;
  user-select: none;
  margin: 10px;
  opacity: 0;
}

.settings-container{
  opacity: 0;
  transform: translateY(50px);
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
}

.settings-sidebar{
  width: 200px;
  height: calc(100% - 50px);
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  overflow: auto;
  z-index: -2;
  box-shadow: #000 0 0 10px;
}

.sidebar-highlight{
  width: 100%;
  height: 50px;
  background: linear-gradient(to left, #225, #009, #225);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.sidebar-label{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  user-select: none;
}

.settings-main{
  position: absolute;
  left: 200px;
  top: 0px;
  width: calc(100% - 200px);
  height: calc(100% - 50px);
  overflow: hidden;
  z-index: -3;
  color: white;
}

.settings-account{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: translateY(0px);
}

.settings-program{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(50px);
  display: none;
}

.storage-location-setting{
  width: 100%;
  padding: 10px;
}

.storage-location-setting > div{
  display: inline-block;
  background: #fff5;
  padding: 5px 15px;
  border-radius: 5px;
  transition: 0.1s;
}

.storage-location-setting > div:hover{
  background: #fff3;
}

.settings-hint{
  font-size: 8px;
  background: white;
  color: black;
  width: 12px;
  border-radius: 50%;
  height: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.account-info{
  padding: 20px;
  background: #333;
  margin: 50px;
  border-radius: 20px;
}

.login-button{
  padding: 10px 30px;
  border-radius: 20px;
  background: #fff5;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

.login-button:hover{
  background: #fff3;
}

.account-pfp{
  position: relative;
  z-index: 10;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: red;
  border: #111 solid 5px;
}

.account-name{
  font-size: 25px;
  color: white;
  text-align: left;
  padding: 2px 10px;
  padding-left: 80px;
  background: #111;
  border-radius: 0 10px 10px 0;
  border-bottom: #00ccff solid 3px;
  width: fit-content;
  transform: translateX(-20px);
}

.account-data{
  width: calc(100% - 150px);
  height: 75px;
}

.storage-bar{
  width: 100%;
  display: inline-block;
  height: 15px;
  border-radius: 0 5px 5px 0;
  background: #111;
  transform: translateX(-10px);
  --bar-size: 50%;
}

.storage-bar::after{
  content: "";
  display: block;
  height: 15px;
  width: var(--bar-size);
  border-radius: 0 5px 5px 0;
  background: #00ccffcc;
  transition: 0.5s;
}

.storage-label{
  font-size: 15px;
  transform: translate(-10px, -20px);
}

#account-loggedin{
  display: none;
  justify-content: center;
  align-items: center;
}

#account-loggedout-splash{
  color: white;
}

#account-loggedin-splash{
  display: none;
}

#account-loggedout{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

#account-loggedout > div{
  width: 100%;
}

#image-warning-button, #image-info-button {
  display: none;
}

.image-tray{
  background: #4445;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  position: fixed;
  bottom: 75px;
  left: 50%;
  transform: translate(-50%, -50px);
  padding: 10px 20px;
  color: white;
  z-index: 1000001;
  opacity: 0;
  box-shadow: #0005 0 0 10px;
  overflow: hidden;
  text-align: center;
}

.tray-header{
  font-size: 20px;
}

.open-user{
  font-size: 14px;
  transition: 0.1s;
}

.open-user:hover{
  color: #ddd;
}

.updater{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10001;
  color: white;
  text-align: center;
  background: #0005;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  opacity: 0;
}

.update-button{
  padding: 8px 50px;
  background: #00ccff;
  width: fit-content;
  display: inline-block;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: #0005 0 0 10px;
  cursor: pointer;
  user-select: none;
}

.world-info{
  text-align: center;
  padding: 0 10px;
}

.world-info i{
  margin-left: 20px;
  cursor: pointer;
  user-select: none;
  cursor: pointer;
  user-select: none;
  color: #fff5;
  transition: 0.1s;
}

.world-info i:hover{
  color: #fff;
}

.world-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;
  filter: blur(10px);
  opacity: 0.5;
}

.world-tags{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.world-tag{
  margin: 0 10px;
  color: #fff5;
  user-select: none;
  transition: 0.1s;
}

.world-tag:hover{
  color: #fff;
}

.world-title-char{
  display: inline-block;
}

.scraper-watermark{
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: #fff3;
}

.warning{
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning .icon {
  color: yellow;
  font-size: 40px;
  width: 50px;
}

.warning .body{
  width: calc(100% - 50px);
}

.delete-confirm-button{
  display: inline-block;
  padding: 10px;
  width: calc(50% - 5px);
  text-align: center;
  background: #f005;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

.delete-deny-button{
  display: inline-block;
  padding: 10px;
  width: calc(50% - 5px);
  text-align: center;
  background: #fff2;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

.delete-confirm-button:hover{
  background: #f00;
}

.delete-deny-button:hover{
  background: #0cf5;
}

.file-text-input{
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  font-family: Rubik;
  width: 200px;
}

.no-photo-warning{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 450px;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

@keyframes loading {
  0% {
    transform: translate(0, -10px) scale(1, 1);
    border-radius: 50%;
    color: white;
    box-shadow:
      #fff 30px 0px 0,
      #fff -30px 0px 0;
  }
  15% {
    transform: translate(0, -10px) scale(1, 1);
    border-radius: 50%;
    color: white;
    box-shadow:
      #fff 30px 0px 0,
      #fff -30px -10px 0;
  }
  30% {
    transform: translate(0, -20px) scale(1, 1);
    border-radius: 50%;
    color: white;
    box-shadow:
      #fff 30px 10px 0,
      #fff -30px 10px 0;

  }
  45% {
    transform: translate(0, -10px) scale(1, 1);
    border-radius: 50%;
    color: white;
    box-shadow:
      #fff 30px -10px 0,
      #fff -30px 0px 0;
  }
  60% {
    transform: translate(0, -10px) scale(1, 1);
    border-radius: 50%;
    color: white;
    box-shadow:
      #fff 30px 0px 0,
      #fff -30px 0px 0;
  }
  70%{
    transform: translate(0, -10px) scale(5, 1);
    border-radius: 0;
    color: black;
    box-shadow:
      #020202 30px 0px 0,
      #020202 -30px 0px 0;
  }
  95%{
    transform: translate(0, -10px) scale(6, 1);
    border-radius: 0;
    color: black;
    box-shadow:
      #020202 30px 0px 0,
      #020202 -30px 0px 0;
  }
}